<header>
    <div class="nav_container">
        <a href="/">
            <div class="logo"></div>
            <h1>Ross Thomson</h1>
        </a>
        <div class="mobile_nav">
            <input id="burger" type="checkbox"/>

            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <nav>
                <a href="/about" class="navigation_link">About</a>
                <a href="/work" class="navigation_link">Work</a>
                <a href="/contact" class="navigation_link">Contact</a>
            </nav>
        </div>
        <nav>
            <a href="/about" class="navigation_link">About</a>
            <a href="/work" class="navigation_link">Work</a>
            <a href="/contact" class="navigation_link">Contact</a>
        </nav>
    </div>
</header>